@use "../variables" as *;

.about {
  padding-block: $section-padding-block;

  background-color: $color-background;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 45rem), 1fr));
    align-items: center;
    gap: $spacing-12;

    .about__image {
      border-radius: $border-radius-lg;
    }

    .about__content {
      .about__title {
        margin-bottom: $spacing-6;

        color: $color-text;
        font-size: $font-size-2xl;
        font-weight: $font-weight-medium;
        line-height: $line-height-tight;
      }

      .about__description {
        color: $color-text-muted;
        font-size: $font-size-md;
        font-weight: $font-weight-normal;
        line-height: $line-height-normal;
      }

      .about__description:last-child {
        margin-top: $spacing-4;
      }
    }
  }
}
