@use 'variables' as *;
@use 'mixins' as *;
@use 'components';

.nav {
  background-color: rgba($color-background, 0.96);

  .container {
    @include flex(0, space-between, center);

    min-height: $nav-height;

    .nav__links {
      @include flex($spacing-700);

      .nav__link {
        @include link($color-secondary, $font-weight-medium);

        text-transform: uppercase;
      }

      .btn--primary {
        @include btn(
          $color-primary,
          $color-text-inverse,
          $spacing-200 $spacing-500,
          $border-radius: $border-radius-md
        );
      }
    }

    .nav__mobile {
      display: none;

      padding: $spacing-200 $spacing-200;

      color: $color-secondary;
      font-size: $font-size-600;
      font-weight: $font-weight-semi-bold;

      border: 1px solid rgba($color-secondary, 0.4);
      border-radius: $border-radius-sm;
    }
  }
}
