@use 'variables' as *;

@mixin section-header(
  $color-eyebrow: $color-primary,
  $color-title: $color-text,
  $color-description: $color-text-secondary
) {
  .section-header {
    text-align: center;

    .section-header__eyebrow {
      @include eyebrow($color-eyebrow);

      margin-bottom: $spacing-300;
    }

    .section-header__title {
      @include title($color-title, $font-size-800);

      margin-bottom: $spacing-400;
    }

    .section-header__description {
      max-width: 42ch;
      margin-bottom: $spacing-900;
      margin-inline: auto;

      color: $color-description;
      font-size: $font-size-300;
    }
  }
}

@mixin eyebrow($color: $color-primary) {
  color: $color;
  font-size: $font-size-100;
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;
  letter-spacing: 2.16px;
}

@mixin title($color, $font-size) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
}

@mixin description($color, $font-size) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight-normal;
  line-height: $line-height-relaxed;
}

@mixin flex(
  $gap: 0,
  $justify-content: center,
  $align-items: center,
  $flex-direction: row
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

@mixin link($color, $font-weight) {
  color: $color;
  font-size: $font-size-200;
  font-weight: $font-weight;
  padding-bottom: $spacing-100;

  &:hover {
    border-bottom: 0.2rem solid $color;
  }

  &:active {
    border: none;
  }
}

@mixin btn(
  $background-color,
  $color,
  $padding: $spacing-300 $spacing-700,
  $font-size: $font-size-300,
  $font-weight: $font-weight-semi-bold,
  $border-radius: $border-radius-lg,
  $border: none
) {
  display: inline-block;

  padding: $padding;
  box-shadow: $border; // inset border

  background-color: $background-color;
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  border-radius: $border-radius;

  transition: transform 100ms ease-in;

  &:hover {
    transform: translateY(-0.2rem);
  }

  &:active {
    transform: translateY(0);
  }
}
