@use 'variables' as *;
@use 'mixins' as *;

.testimonials {
  @include section-header($color-secondary, $color-text-inverse);

  padding-block: $section-padding-block;

  background-color: $color-background-light;

  .section-header {
    margin-bottom: $spacing-900;
  }

  .testimonials__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: $spacing-650;

    .testimonial {
      display: flex;
      flex-direction: column;

      padding: $spacing-700;

      background-color: rgba($color-secondary, 0.2);

      border-radius: $border-radius-xl;

      .testimonial__rating {
        margin-bottom: $spacing-500;

        color: $color-secondary;
        font-size: $font-size-200;

        i + i {
          margin-left: $spacing-150;
        }
      }

      .testimonial__quote {
        @include description(rgba($color-text-inverse, 0.85), $font-size-300);

        margin-bottom: $spacing-500;

        font-style: italic;
      }

      .testimonial__footer {
        @include flex($spacing-300, auto);

        margin-top: auto;

        .testimonial__image {
          width: $spacing-850;
          height: $spacing-850;

          border-radius: $border-radius-full;
        }

        .testimonial__name {
          margin-bottom: $spacing-50;

          color: $color-text-inverse;
          font-family: 'Roboto Slab', serif;
          font-weight: $font-weight-semi-bold;
        }

        .testimonial__meta {
          color: $color-secondary;
          font-size: $font-size-100;
        }
      }
    }
  }
}
