@use "variables" as *;

.header {
  background-color: $color-background;
  border-bottom: 1px solid $color-neutral-100;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: $spacing-6;

    min-height: 7.2rem;
    padding-block: $spacing-4;

    .nav__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: $spacing-6;

      list-style: none;

      .nav__link {
        color: $color-text-soft;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}
